body {
	padding: 25px;
	height: auto;
	position: relative;
	margin: 0;
	font-family: Raleway;
	background-color: white;
	color: #bbb;
	background-color: #F8F2EE;
	/*#FFF7F1*/
}

h2{
	font-family: 'Playfair Display', serif;
}

h3{
	font-family: Raleway;
}

a:link {
  text-decoration: none;
  /*color: #FEA3A9;*/
  color: #8DC8DC;
  transition-duration: 1s;
  position: relative;
}

a:visited {
  text-decoration: none;
  color: #8DC8DC;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

a {
	text-decoration: none;
	position: relative;
}

a::after {
  border-radius: 1em;
  border-top: .1em solid black;
  content: "";
  position: absolute;
  	right: 100%;
  	bottom: .14em;
  	left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
  /*visibility: hidden;*/
  /*transform:scaleX(0);*/
}

a:hover::after{
	right: 0;
	/*visibility: visible;*/
	/*transform: scaleX(1);*/
}

a:active {
	color: black;
}

#abtpage{
	color: black;
	margin-left: 30vw;
	margin-top: 5vw;
	text-align: justify;
	width: 550px;
	/*border-style: dotted;*/
	padding: 35px;
	background-color: rgba(255, 255, 255, 0.5);
	font-family: 'Open Sans Condensed', sans-serif;

	size: 10px;
	position: fixed;

	  -webkit-box-shadow: 0px 0px 20px 2px rgba(209,209,209,0.69);
	-moz-box-shadow: 0px 0px 20px 2px rgba(209,209,209,0.69);
	box-shadow: 0px 0px 20px 2px rgba(209,209,209,0.69);
	border-radius: 15px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	  #abtpage{
	color: black;
	margin-left: 30vw;
	margin-top: 5vw;
	text-align: justify;
	width: 550px;
	/*border-style: dotted;*/
	padding: 35px;
	background-color: rgba(255, 255, 255, 0.5);
	font-family: 'Open Sans Condensed', sans-serif;

	size: 10px;
	position: fixed;

	  -webkit-box-shadow: 0px 0px 20px 2px rgba(209,209,209,0.69);
	-moz-box-shadow: 0px 0px 20px 2px rgba(209,209,209,0.69);
	box-shadow: 0px 0px 20px 2px rgba(209,209,209,0.69);
	border-radius: 15px;
}

}

.row {
  display: flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  flex: 50%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
